.imagenContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
  
img{
    height: 300px;
}

div .font{
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: .5rem;
  }

div .letras{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .3rem .6rem;
}

div .abc{
    font-size: 1rem;
    padding: .6rem 2rem;
    background-color: rgb(5, 2, 2);
    border: 1px solid rgb(255, 0, 0);
    color: #fff;
}


