<div id="fondo" class="position-relative overflow-hidden">
    <div class="container main-container mt-3">

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <div class="px-3 pt-md-5 px-md-5">
                <img src="../../../assets/Images/adivinarPalabra/portadaAdivinarPalabra.jpg">
            </div>
            <div>
                <h1>Juego propio: Adivina Palabra</h1>
                <p>El juego consiste en adivinar cual es la palabra que se encuentra desordenada. Tenemos las letras,
                    solo hay que ordenarlas correctamente!</p>
            </div>

        </div>
    </div>

</div>